# Visual Studio
*.[Oo]bj
[Bb]in/
[Oo]bj/
*.suo
*.user
*.[Pp]ublish.xml
*.dbmdl
Import Schema Logs/
*.dbproj.schemaview
_ReSharper*/
src/packages/
*.orig
ClientBin/
App_Data/
.vs/
Logs/
node_modules/
.idea/
.fake
.ionide
